.awards {
    background-color: var(--white-accent-color);
    padding: 80px 0px 100px;

}

.awards__header {
    padding: 0px 0px 12.5px;
    color: var(--black-color);
    text-align: center;
    font-size: 36px;
    font-stretch: 100%;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    overflow-wrap: break-word;
}

.awards__header:after {
    content: "";
    display: block;
    height: 2px;
    width: 45px;
    margin: auto;
    background-color: var(--green-color);
  }

.awards__row {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    /* justify-content: center;
    position: relative;
    gap: 5px; */
}

.awards__img {
    max-width: 100%;
    height: auto;
}

.awards__text {
    color: var(--black-color);
    text-align: center;
    font-size: 20px;
    font-stretch: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    overflow-wrap: break-word; 
}

.awards__column {
    display: flex;
    flex-direction: column;
}
