@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:wght@700&display=swap');

:root{
    --green-color: #3fb386;
    --black-color: #272523;
    --white-color: #fff;
    --gray-color: #757575;
}
