.form__title {
    color: var(--black-color);
    font-family: "Playfair Display", serif;
    font-size: 54px;
    font-weight: 700;
}

.form__description{
    color: var(--black-color);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.input__inner{
    background-color: var(--input-bg-color);
}

.form__btn{
    border: none;
    color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--green-color);
}