.header {
    width: 100%;

}

.header__contacts {
    height: 45px;
    display: flex;
    background-color: var(--black-color);
    color: var(--green-color);
}

.header__contacts span {
    color: var(--gray-color);
}