.header, .main{
    margin: 0;
}
/* .phone {
    color: var(--green-color);
}

.phone:hover {
    color: white;
}

.header__contacts {
    height: 45px;
    margin: auto;
    display: flex;
    justify-content: space-betsween;
    background-color: var(--black-color);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.header__contacts span {
    color: var(--gray-color);
} */

.header__contacts {
    display: none;
}

.header__box {
    background: var(--black-color);
}

.menu {
    display: none;
}

.menu-button {
    width: 1.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    height: calc(0.25rem * 5);
    margin: 10px 20px 0px 0px;
    z-index: 900;
}

.menu-button span {
    width: 30px;
    height: 2px;
    background-color: var(--white-color);
    display: block;
    position: absolute;
    transition: all 0.6s ease;
}

.menu-button span:nth-of-type(2) {
    top: calc(0.25rem * 2);
}


.menu-button span:nth-of-type(3) {
    top: calc(0.25rem * 4);
}

.main {
    background: linear-gradient(rgba(26, 27, 32, 0.7), rgba(26, 27, 32, 0.7)), url(../img/background_block1.webp) 50.94% 13.58% / cover no-repeat;
    color: var(--white-color);
}

.main__section {
    padding: 130px 15px;
}

.main__header {
    font-size: 52px;
    font-family: Playfair Display, serif;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

.main__span{
    display: block;
}

.main__text {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}


.main__button__box {
    margin: auto;
    border: 3px solid var(--green-color);
    background-color: var(--green-color);
    color: var(--white-color);
    display: table;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    justify-content: center;
    padding: 18px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
}

.main__discount__button {
    color: var(--white-color);
    text-decoration: none;
}