@import url(common.css);
@import url(gallery.css);
@import url(index-why_choose_us.css);
@import url(studiscount.css);
@import url(traditional.css);
@import url(welcome.css);
@import url(services.css);
@import url(form.css);
@import url(partners.css);
@import url(our-products.css);
@import url(testimonials.css);