.company__benefits {
    background-image: url(../img/background-block3.webp);
    padding: 80px 0px;
}

.why__choose__us {
    padding: 0px 24px;
}

.why__choose__us__title {
    color: var(--white-color);
    text-align: center;
    font-size: 38px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 10px;
}

.why__choose__us__title::after {
    content: "";
    display: block;
    height: 2px;
    width: 45px;
    margin: auto;
    background-color: var(--green-color);
}

.preferences {
    margin-top: 30px;
}

.why__choose__us__images {
    width: 50px;
    display: block;
}


.first__preference,
.second__preference,
.third__preference,
.fourth__preference {
    position: relative;
    padding: 0px 15px;
    margin-top: 50px;
}

.preferences__title {
    color: var(--white-color);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    vertical-align: baseline;
    text-align: center;
    margin-top: 20px;
}