.we-always-block {
    background-image: url(img/we are always.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    background-color: black;
    opacity: 0.85;
    padding-left: 15px;
    padding-right: 15px;
    padding: 80px 0px 100px;
    display: block;
    font-weight: 800;
    flex-basis: 100%;
    box-sizing: border-box;
    color: white;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

.text {
    color: #FFFFFF;
    font-size: 54px;
    @media (max-width: 992px);
    font weight: 800;
    font-family: Playfair Display, serif;
}

.talented {
    color: #FFFFFF;
    font-size: 54px;



}

.line {

    border: 0.1px solid #3FB386;
    width: 45px;
    height: 2px;
    background-color: #3FB386;
    align-items: center;
    display: inline-block;
}



.text-block {
    padding: 0px 15px;
}

see-open-button: {
    width: 250px;
    height: 50px;
}

.open-button {
    width: 250;
    height: 50px;
    border: 1px solid #transparent;
    background-color: rgb(7, 178, 7);
    font-size: 13px;
    color: #FFFFFF;
    margin: -10px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
}

.check-text {
    color: #FFFFFF font-size:20px;
    text-align: center;
}


.partners-block {
    width: auto;
    height: 467px;
    background-color: rgb(244, 243, 242);
    display: inline-flex;
}

.text-line-block {
    width: auto;
    height: auto;
    padding: 0px 0px 13px;
    margin: 0px 226px;
    text-align: center;
    align-items: center;
}

.text-partners {
    box-sizing: border-box;
    font-size: 54px;
    color: #272523;
    font-family: "Playfair Display", serif;
    padding: 0px 0px 12.5px;
    display: block;
    justify-self: center;
    text-align: center;
}


.line_two {

    width: 45px;
    height: 2px;
    border: 0.1px solid #3FB386;
    width: 45px;
    height: 2px;
    background-color: #3FB386;
    display: inline-block;
}




.image-block {
    display: inline-flex;
    width: auto;
    height: auto;
    grid-gap: 45px;
    padding: 0px 40px;
    align-items: center;
    justify-self: center;
    object-fit: cover;
    box-sizing: border-box;
}

.image {
    display: flex;
    width: 190px;
    height: 135px;
    justify-self: center;
    border: 1px solid black;
    background-color: white;
    z-index: 1;

}
