.testimonials__name {
    color: var(--black-color);
    text-align: left;
    font-size: 26px;
    font-stretch: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    overflow-wrap: break-word;
    /* padding: 0px 0px 12.5px; */
}

.testimonials__text {
    color: var(--green-color);
    text-align: left;
    font-size: 16px;
    font-stretch: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    overflow-wrap: break-word;
    /* padding: 0px 0px 12.5px; */
}

.testimonials__quote {
    color: var(--black-color);
    text-align: left;
    font-size: 16px;
    font-stretch: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: break-word;
    /* padding: 0px 0px 12.5px; */
}